
{% extends "company_context/company_base.html" %}
{% load static %}
{% block title %}
    Companies
{% endblock %}


{% block content %}

<div class="container">

    <div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    ">

        <h1>Companies</h1>

        <a href="{% url 'company-create' %}"
           class="btn btn-primary">
            + Create Company
        </a>

    </div>


    <div class="card">

        {% if companies %}

            <table style="width: 100%; border-collapse: collapse;">

                <thead>
                    <tr>
                        <th style="text-align:left; padding:12px;">
                            Code
                        </th>

                        <th style="text-align:left; padding:12px;">
                            Name
                        </th>

                        <th style="text-align:left; padding:12px;">
                            Email
                        </th>

                        <th style="text-align:left; padding:12px;">
                            Status
                        </th>

                        <th style="text-align:left; padding:12px;">
                            Actions
                        </th>
                    </tr>
                </thead>


                <tbody>

                    {% for company in companies %}

                        <tr>

                            <td style="padding:12px;">
                                {{ company.code }}
                            </td>

                            <td style="padding:12px;">
                                {{ company.name }}
                            </td>

                            <td style="padding:12px;">
                                {{ company.email }}
                            </td>

                            <td style="padding:12px;">
                                {{ company.status }}
                            </td>

                            <td style="padding:12px;">

                                <a
                                    href="{% url 'company-update' company.id %}"
                                    class="btn btn-primary">
                                    Edit
                                </a>

                                <a
                                    href="{% url 'company-delete' company.id %}"
                                    class="btn btn-danger">
                                    Delete
                                </a>

                            </td>

                        </tr>

                    {% endfor %}

                </tbody>

            </table>

        {% else %}

            <p>No companies found.</p>

        {% endif %}

    </div>

</div>

{% endblock %}